.wrap {
    text-align: center;
}

.container {

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.circle {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.red {
    background: red;
}
.green {
    background: green;
}

.yellow {
    background: yellow;
}

@media only screen and (max-width: 916px) {
    .circle {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 516px) {
    .circle {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 316px) {
    .circle {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 160px) {
    .circle {
        width: 5px;
        height: 5px;
    }
}