.wrap {
    text-align: center;
}

.container {

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.circle {
    float: left;
    width: 10%;
    padding-top: 10%;
    border-radius: 50%;
}

.red {
    background: red;
}
.green {
    background: green;
}

.yellow {
    background: yellow;
}
